.content {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    margin-top: 7%;
  }
  
  .uv {
    font-weight: 600;
  }
  
  .btn1 {
    margin-top: 35%;
  }
  
  .bn {
    margin-left: 4%;
  }
  