.content{
    margin-left: 10%;
    margin-right: 18%;
    margin-top: 10%;
}

.title{
    background-color: #06a8ff;
    color: aliceblue;
    text-align: center;
} 

.space{
    margin-top: 3%;
    text-align: center;
}