<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand nav-link white" href="#"><b>HAPP</b><i>'y</i> Store</a>
   
    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ms-auto navbar-nav-scroll">
          <li class="nav-item">
              <a class="nav-link white" routerLink="/login" aria-current="page" >Login</a>
          </li>
          <li class="nav-item">
              <a class="nav-link white" routerLink="/signup">Signup</a>
          </li>
      </ul>    
    </div>
  </div>
</nav>
<div class="content">

<div class="col d-flex justify-content-center">
  <div class="card mb-3 card1" style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-6">
        <img src="assets\landing-img.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-6">
        <div class="card-body card2">
          <h2 class="card-title"><b>HAPP</b><i>'y</i> Store</h2>
          <br><br>
          <h4 class="card-text">All <b>H</b>ome <b>APP</b>liances under one Roof </h4><br><br>
            <h4 class="card-text">To make work <b>EASY</b> and Life <b>HAPPy</b></h4><br>
            <h5>You heard it RIGHT!</h5><br><br>
            <a class="btn btn-light btn1"  role="button" [routerLink]="['/login']" routerLinkActive="router-link-active" >Shop Now!</a>
          </div>
        </div>
      </div>
 
  
</div>


</div>
</div>
<div class="footer bg-light footer1">

  <div class="footer-copyright text-center py-3 foottext">© 2022 Copyright:
    <a href="/">www.Happystore.com</a>
  </div>
  
  </div>
  
