
   
        <div class="row bg">
          
          <div class="col-12 cont">
            <h3>Welcome!</h3>
            <br />
           
            <br />
            <a
              [routerLink]="['/admin/addproduct']"
              routerLinkActive="router-link-active"
              class="btn btn-dark badd"
              >Add Product</a
            >
            <a
              [routerLink]="['/admin/viewproducts']"
              routerLinkActive="router-link-active"
              class="btn btn-dark bview"
              >View Product</a
            >
          </div>
        </div>
     
    


