<div class="content">
  <form (ngSubmit)="onSubmit()" #addproduct="ngForm">
    <div class="row">
      <label>product Title</label>
    </div>
    <div class="row">
      <input
        class="form-control border-dark"
        type="text"
        [(ngModel)]="product.productName"
        name="productname"
        #producttitle="ngModel"
      />
    </div>
    <div class="row">
      <label>product Description tadaa</label>
    </div>
    <div class="row">
      <textarea
        class="form-control border-dark textarea"
        [(ngModel)]="product.productDescription"
        rows="5"
        name="productdescription"
        #productdescription="ngModel"
      ></textarea>
    </div>

    <div class="row">
      <label>product Image URL</label>
    </div>
    <div class="row">
      <input
        class="form-control border-dark"
        type="text"
        [(ngModel)]="product.productImgUrl"
        name="imgurl"
        #imageurl="ngModel"
      />
    </div>
    
    <div class="row">
      <label>Product type</label>
    </div>
    <div class="row">
      <input
        class="form-control border-dark"
        type="text"
        [(ngModel)]="product.productType"
        name="type"
        #genre="ngModel"
      />
    </div>
    <div class="row">
      <label>Price</label>
    </div>
    <div class="row">
      <input
        class="form-control border-dark"
        type="text"
        [(ngModel)]="product.productPrice"
        name="price"
        #price="ngModel"
      />
    </div>
    <div class="row">
      <button type="submit" class="btn btn-dark subbtn">Submit</button>
    </div>
  </form>
</div>