.white{
color: white;
}
.hcard {
    margin-top: 5%;
    margin-right: 5%;
  }
  
  .productcard {
    margin-left: 10%;
    margin-top: 10%;
  }
  
  .content {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
  }
  
  .cbody {
    height: 130px;
  }
  
  .editdelete {
    background-color: white;
    border: none;
    text-align: end;
  }
  
  .edit {
    color: grey;
    font-size: 25px;
    margin-right: 20px;
    
  }
  .edit:hover{
    color: black;
  }
  .delete {
    color: grey;
    font-size: 25px;
    margin-right: 5px;
  }
  
  .delete:hover{
    color: black;
  }