
<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand nav-link white" href="#"><b>HAPP</b><i>'y</i> Store</a>
   
    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ms-auto navbar-nav-scroll">
          <li class="nav-item">
            <a
            [routerLink]="['/admin/addproduct']"
            routerLinkActive="router-link-active"
            class="btn btn-dark badd"
            >Add Product</a
          >
          </li>
          <li class="nav-item">
            <a
            [routerLink]="['/admin/viewOrders']"  
         
            class="btn btn-dark bview"
            >View Orders</a
          >
          </li>
          <li class="nav-item">
            <a
              class="nav-link white"
              [routerLink]="['/']"
              routerLinkActive="router-link-active"
              >Logout</a
            >
          </li>
      </ul> </div></div>
    </nav>
<div class="content">
  <div class="row hcard">
    <div *ngFor="let product of products" class="col-md-6 col-xl-4">
      <div class="card productcard" style="width: 20rem">
        <img class="card-img-top" src="{{ product?.productImgUrl }}" alt="Card image cap" style="height: 18rem" />
        <div class="card-body cbody">
          <h5 class="card-title">{{ product?.productName }}</h5>
          <p class="card-text">Rs. {{ product.productPrice }}</p>
        </div>
        <div class="card-footer editdelete">
          <a [routerLink]="['/admin/editproduct/', product.productId]" routerLinkActive="router-link-active" role="button"><i
              class="bi bi-pencil-square edit"></i></a>
          <a role="button" (click)="deleteProduct(product.productId)"><i class="bi bi-trash-fill delete"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
