
<div class="content">
  <h5>My Profile</h5>
  <form (ngSubmit)="onSubmit()" #addcustomer="ngForm">
    <div class="row">
      <div class="col-6">
        <label> First Name </label>
        <br />
        <input
          class="form-control border-dark"
          type="text"
          [(ngModel)]="customer.firstName"
          name="firstName"
          #firstName="ngModel"
        />
      </div>
      <div class="col-6">
        <label> Last Name </label>
        <br />
        <input
          class="form-control border-dark"
          type="text"
          [(ngModel)]="customer.lastName"
          name="lastName"
          #lastName="ngModel"
        />
      </div>
    </div>
    <div class="row">
        <div class="col-6">
          <label> Email id </label>
          <br />
          <input
            class="form-control border-dark"
            type="text"
            [(ngModel)]="customer.emailId"
            name="emailId"
            #emailId="ngModel"
          />
        </div>
        <div class="col-6">
          <label> Phone Number </label>
          <br />
          <input
            class="form-control border-dark"
            type="text"
            [(ngModel)]="customer.phoneno"
            name="phoneno"
            #phoneno="ngModel"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label> Door No </label>
          <br />
          <input
            class="form-control border-dark"
            type="text"
            [(ngModel)]="customer.doorNo"
            name="doorNo"
            #doorNo="ngModel"
          />
        </div>
        <div class="col-4">
          <label> Street Name </label>
          <br />
          <input
            class="form-control border-dark"
            type="text"
            [(ngModel)]="customer.streetName"
            name="streetName"
            #streetName="ngModel"
          />
        </div>
        <div class="col-4">
            <label> Area Name </label>
            <br />
            <input
              class="form-control border-dark"
              type="text"
              [(ngModel)]="customer.areaName"
              name="areaName"
              #areaName="ngModel"
            />
          </div>
      </div>
      <div class="col-4">
        <label> Landmark </label>
        <br />
        <input
          class="form-control border-dark"
          type="text"
          [(ngModel)]="customer.landmark"
          name="landmark"
          #landmark="ngModel"
        />
      </div>
  
      <div class="row">
        <div class="col-4">
          <label> City </label>
          <br />
          <input
            class="form-control border-dark"
            type="text"
            [(ngModel)]="customer.city"
            name="city"
            #city="ngModel"
          />
        </div>
        <div class="col-4">
          <label> State </label>
          <br />
          <input
            class="form-control border-dark"
            type="text"
            [(ngModel)]="customer.state"
            name="state"
            #state="ngModel"
          />
        </div>
        <div class="col-4">
            <label> Pincode </label>
            <br />
            <input
              class="form-control border-dark"
              type="text"
              [(ngModel)]="customer.pincode"
              name="pincode"
              #pincode="ngModel"
            />
          </div>
      </div>
  </form>
</div>
