<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand logo-text booklogo" href="#"><b>HAPP</b><i>'y</i> Store</a>
    <div class="navbar-collapse offcanvas-collapse">
      <ul class="navbar-nav ms-auto navbar-nav-scroll">
        <li class="nav-item">
          <a class="nav-link white"  [routerLink]="['/user/home']"
          routerLinkActive="router-link-active" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link white" [routerLink]="['/user/viewOrders']">My Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link white" [routerLink]="['/user/cart']" >Cart</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link white"
            [routerLink]="['/']"
            routerLinkActive="router-link-active"
            (click)="logout()"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="content">
  <h5>My Profile</h5>
  <form (ngSubmit)="onSubmit()" #addcontact="ngForm">
    <div class="row">
      <div class="col-6">
        <label> First Name </label>
        <input
          class="form-control border-dark"
          type="text"
          [(ngModel)]="contact.firstName"
          name="firstName"
          #firstName="ngModel"
        />
      </div>
      <div class="col-6">
        <label> Last Name </label>
        <input
          class="form-control border-dark"
          type="text"
          [(ngModel)]="contact.lastName"
          name="lastName"
          #lastName="ngModel"
        />
      </div>
      <div class="row">
        <div class="col-6">
          <label> Email id </label>
          <input
            class="form-control border-dark"
            type="text"
            [(ngModel)]="contact.emailId"
            name="emailId"
            #emailId="ngModel"
          />
        </div>
        
        <div class="col-6">
          <label> Phone Number </label>
         
          <input
            class="form-control border-dark"
            type="text"
            [(ngModel)]="contact.phoneno"
            name="phoneno"
            #phoneno="ngModel"
          />
        </div>
       </div> 
       <div class="row">
      <div class="col-6">
        <label> Door/House Number</label>
        <input
          class="form-control border-dark"
          type="text"
          [(ngModel)]="address.houseNo"
          name="houseNo"
          #streetName="ngModel"
        />
      </div>
      
        <div class="col-6">
          <label> Street Name </label>
          <input
            class="form-control border-dark"
            type="text"
            [(ngModel)]="address.streetName"
            name="streetName"
            #streetName="ngModel"
          />
        </div></div>
        <div class="row">
        <div class="col-6">
            <label> Area Name </label>
            <input
              class="form-control border-dark"
              type="text"
              [(ngModel)]="address.areaName"
              name="areaName"
              #areaName="ngModel"
            />
          </div>
    
        <div class="col-6">
          <label> City </label>
         
          <input
            class="form-control border-dark"
            type="text"
            [(ngModel)]="address.city"
            name="city"
            #city="ngModel"
          />
        </div></div>
        <div class="row">
        <div class="col-6">
          <label> State </label>
       
          <input
            class="form-control border-dark"
            type="text"
            [(ngModel)]="address.state"
            name="state"
            #state="ngModel"
          /></div>
        
        
        <div class="col-6">
            <label> Pincode </label>
            
            <input
              class="form-control border-dark"
              type="text"
              [(ngModel)]="address.pincode"
              name="pincode"
              #pincode="ngModel"
            />
          </div>
        
      </div></div>
      <a (click)="onSubmit()" class="btn mt-3 btn1 update"  role="button">Update!</a>
  </form>
</div>

