<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand nav-link white" href="#"><b>HAPP</b><i>'y</i> Store</a>
   </div>
</nav>  
<div class="content1">
 <div class="card mb-3 card3" style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-6">
        <img src="assets/Mobile-login.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-6">
        <div class="card-body card4">
       
<form class="container" #userform="ngForm" (ngSubmit)="onSubmit()">
    <h1 class="loginhead">Login</h1>
    <div class=" row formlog">
        <div class="col-4 headers">
          <label for="userName"><b>USER NAME</b></label></div>
          <div class="col-8">
          <input type="text"  
          [(ngModel)] ="user.userName" 
          name="userName"
          required
          #userName="ngModel"  
           id="username"  
           placeholder="Enter User Name"
           class="form-control"
        
          >
         <div 
        class="alert alert-danger" 
        role="alert"
        *ngIf="userName.touched && !userName.valid"
        >
        User Name is required!
      
      </div> 
    </div>
</div>
<div class=" row formlog">
    <div class="col-4 headers">
      <label for="password"><b>PASSWORD</b></label></div>
      <div class="col-8">
      <input 
          type="text"
          [(ngModel)]="user.password" 
          name="password"
          required 
          #password="ngModel"   
          id="password" 
          class="form-control"
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{6,12}$"
          placeholder="Enter password">
    <div class="alert alert-danger" 
      role="alert"
      *ngIf="password.touched && !password.valid">
          Password Required!
  </div>
      </div>
    </div>
    <button [disabled]="!userform.valid" type="submit" class="btn mt-3 btn1">Login</button>
    <p class="signuplink">
      New User?<a  [routerLink]="['/signup']" routerLinkActive="router-link-active" >
        Sign up!</a>
    </p>
    </form></div></div></div></div></div>